In [10]:
import pandas as pd
df=pd.read_csv("survey lung cancer.csv")
df

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,F,56,1,1,1,2,2,2,1,1,2,2,2,2,1,YES
305,M,70,2,1,1,1,1,2,2,2,2,2,2,1,2,YES
306,M,58,2,1,1,1,1,1,2,2,2,2,1,1,2,YES
307,M,67,2,1,2,1,1,2,2,1,2,2,2,1,2,YES
308,M,62,1,1,1,2,1,2,2,2,2,1,1,2,1,YES

In [11]:
df.columns

Index(['GENDER', 'AGE', 'SMOKING', 'YELLOW_FINGERS', 'ANXIETY',
       'PEER_PRESSURE', 'CHRONIC DISEASE', 'FATIGUE ', 'ALLERGY ', 'WHEEZING',
       'ALCOHOL CONSUMING', 'COUGHING', 'SHORTNESS OF BREATH',
       'SWALLOWING DIFFICULTY', 'CHEST PAIN', 'LUNG_CANCER'],
      dtype='object')

In [12]:
df1=df['GENDER']='Gender'

In [22]:
df2=pd.DataFrame(data=pd.read_csv("survey lung cancer.csv",index=[['Gender','Age','Smoking','Yellow_Finger','Anxiety','Peer_Pressure','ChronicDisease','Fatigue','Allergy','Wheezing','Alcohol_Consuming','Coughing','Shortness_of_breath','swallowing_difficulty','ChestPain','Lung_Cancer']]))
df2

TypeError: read_csv() got an unexpected keyword argument 'index'

write a python program with the following specification there will be a function named create dataset which will take a dictionary,filename,number of rows as arguements. the dictionary is having the following structure{
    "colunmname":[domain of values]
}
your function will select random values for each of the domains  and create a row for you .
the number of rows that has to be crated is a parameter that has been taken. save the file with the number of rows.
load this dataset using pandas and display basic information

In [36]:
import random

# Creating dictionary

dict = {
    'Name' : ['Repiece','Devu','Kundimwon','Shaddimwon','Kusu','Jof'] ,
    'Age' : ['23','22','21','20','19','25'] ,
    'Year' : ['2000','2002','2003','2016','2017','2019'] ,
    'Year of Study' : ['2','4','5','4','1','6'] ,
    'Income' : ['0'] ,
    'Place' : ['Kerala']
}

# Creating a function CreateDataset

def createDataset(filename,n):

    file = open(filename,'a+')
    file.write('Name' '\t' + 'Age' '\t' + 'Year' '\t' + 'Year of study' '\t' + 'Income' '\t' + 'Place' '\n')
    file.close()

    file = open(filename,'a+' )
    for i in range(n+1):
        file.write(random.choice(dict['Name']) + '\t' + random.choice(dict['Age']) + '\t' + random.choice(dict['Year']) + '\t' + random.choice(dict['Year of Study']) + '\t' + random.choice(dict['Income']) + '\t' + random.choice(dict['Place']) + '\n')
    file.close()

createDataset('Unda.csv' , 20)

In [45]:
import pandas as pd

df = pd.read_csv('Unda.csv', delimiter = '\t')
df

         Name  Age  Year  Year of study  Income   Place
0        Kusu   19  2002              6       0  Kerala
1   Kundimwon   25  2016              6       0  Kerala
2         Jof   19  2017              4       0  Kerala
3        Devu   19  2002              6       0  Kerala
4        Devu   20  2017              6       0  Kerala
5        Kusu   19  2000              6       0  Kerala
6     Repiece   20  2017              4       0  Kerala
7     Repiece   19  2017              6       0  Kerala
8     Repiece   25  2016              4       0  Kerala
9        Devu   21  2002              2       0  Kerala
10        Jof   19  2019              1       0  Kerala
11    Repiece   25  2002              4       0  Kerala
12       Devu   19  2017              5       0  Kerala
13        Jof   19  2017              2       0  Kerala
14       Devu   25  2000              4       0  Kerala
15       Devu   19  2000              2       0  Kerala
16  Kundimwon   23  2002              6       0  Kerala
17       Devu   21  2003              4       0  Kerala
18  Kundimwon   23  2003              2       0  Kerala
19       Kusu   25  2017              4       0  Kerala
20       Kusu   22  2002              6       0  Kerala

In [40]:
print(df.head(5))

        Name  Age  Year  Year of study  Income   Place
0       Kusu   19  2002              6       0  Kerala
1  Kundimwon   25  2016              6       0  Kerala
2        Jof   19  2017              4       0  Kerala
3       Devu   19  2002              6       0  Kerala
4       Devu   20  2017              6       0  Kerala

In [41]:
print(df.tail(5))

         Name  Age  Year  Year of study  Income   Place
16  Kundimwon   23  2002              6       0  Kerala
17       Devu   21  2003              4       0  Kerala
18  Kundimwon   23  2003              2       0  Kerala
19       Kusu   25  2017              4       0  Kerala
20       Kusu   22  2002              6       0  Kerala

In [42]:
print(df.shape)

(21, 6)